@import "tailwindcss";

/* Optional: Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #16a34a;
  border-radius: 10px;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-baloo {
  font-family: 'Baloo Bhai 2', cursive;
}
.hero_bg {
    background-image: url('../../public/assets/hero-bg1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}
button{
  cursor: pointer;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.floating-circle {
  position: absolute;
  border-radius: 9999px;
  opacity: 0.25;
  filter: blur(80px);
  animation: float 12s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-40px) translateX(30px);
  }
  100% {
    transform: translateY(40px) translateX(-30px);
  }
}
